#map {
        width: 100%;
        height: 550px;
        width: 100%;
        background-color: grey;
        align: center;
        margin-left: auto;
        margin-right: auto;
      }

#maptitle {
  text-align: center;
}

.navbar {
  display: inline;
}

.intro {
  margin-top: 60px;
  margin-left: 20px;
}

.buddy-title {
  color: #42aaf4;
}

body {
  margin-bottom: 30px;
  color: #333333;
  font-family: Tahoma, Geneva, sans-serif;
}

  background-color: blue;
}

.myCarousel {
  max-height: 700px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
}

#about-us {
  margin-top: 30px;
  text-align: center;
  line-height: 30px;
}
<<<<<<< HEAD
=======
>>>>>>> origin/master


.text-box {
  padding: 30px;
}

.container-fluid {
  margin: auto;
}
>>>>>>> origin/master
